{%extends "base.html" %}
{%load markup%}
{%block title%}About Us{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="inner">
            <header class="align-center">
              <h2>about us</h2>
            </header>
						<h3 class="top2">mission statement</h3>
            <p>The US PostgreSQL Association is a non profit public charity with the following purpose:<br><br>
            (a) ﻿Educate, promote and support the creation, development and use of the PostgreSQL Open Source Database software, a software system which is available to the general public without charge;
            <br><br>
            (b) Provide information and education regarding the use of PostgreSQL; and
            <br><br>
            (c) Organize, hold and conduct meetings, discussion, and forums on the contemporary issues concerning the use of PostgreSQL.
            <br><br>
            Here is a <a href="">copy of our bylaws</a>, a copy of our <a href="">IRS determination letter</a> and our <a href="">monthly financial statements</a>. For more information, please visit our <a href="">corporate page</a>.</p>
            <div class="row">
              <div class="4u 12u$(medium)">
                <h3 class="top1">how can I contribute?</h3>
                <p>If you are interested in supporting us, the best way is to <a href="">become a member</a> and actively contribute to our mission.<br><br>However, <a href="">donations</a> are also an excellent way to express appreciation for what we do.</p>
              </div>
              <div class="4u 12u$(medium)">
                <h3 class="top2">website</h3>
                <p>This website is managed using github.<br><br>You can view the revision history via gitweb and send any updates, either as a git pull request or a patch, to webmaster@pgus.org.</p>
              </div>
              <div class="4u$ 12u$(medium)">
                <h3 class="top3">postgresql</h3>
                <p>PostgreSQL.org is the home of the global PostgreSQL community. <br><br>If you are looking for community support or software downloads you should visit the <a href="">global site</a>. We also encourage curiosity for curiosity's sake!</p>
              </div>
            </div>
  				</div>
  			</section>

{%endblock%}                                                                                                                                                                                                             
