{%extends "base.html" %}
{%load markup%}
{%block title%}Become a Member{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="inner">
            <header class="align-center">
              <h2>become a member</h2>
            </header>
            <div class="row">
              <div class="4u 12u$(medium)">
                <h3 class="top2">why join pgus?</h3>
                <p>The United States PostgreSQL Association affectionately known as PgUS is a IRS 501(c)(3) public charity. Our purpose is to support the growth and education about The World's Most Advanced Open Source Database in the United States.
                  <br><br>
                  By becoming a member you will be able to influence and help how we support that growth and education.
                  </p>
              </div>
              <div class="4u 12u$(medium)">
                <h3 class="top3">benefits</h3>
                <p>The list of benefits is so extensive that when you follow the link for it, it brings up a blank page! Isn't that wonderful?<br></p>
                  <ul class="alt">
                    <li>Nonexistent benefit example</li>
                    <li>This might be a benefit, unsure</li>
                    <li>Maybe you get cats for joining</li>
                    <li>An elephant, you say?!</li>
                  </ul>
              </div>
              <div class="4u$ 12u$(medium)">
                <h3 class="top1">opportunities</h3>
                <p>There are many opportunities available to members including the ability to have affiliated projects (like the PostgreSQL Community Conference series), serving on our committee, getting sponsorship through grants and generally just participating in a fun and vibrant community.</p>
              </div>
              <!-- Break -->
              <div class="6u 12u$(small)">
                <h3 class="top1">membership information</h3>
                <p>
                  Members of the PgUS are entitled to inspect the following records, some which are already publicly available while others must be requested from the Secretary (secretary@postgresql.us):
                </p>
                <ul>
                  <li>Articles of Incorporation</li>
                  <li>Bylaws</li>
                  <li>List of all other members</li>
                  <li>List of the Board of Directors</li>
                  <li>Meeting minutes</li>
                  <li>Board of Directors</li>
                  <li>Conference Subcommittee</li>
                  <li>Resolutions</li>
                  <li>Annual financial statements</li>
                  <li>Meeting attendance</li>
                </ul>
                <p>
                  Members may also demand a special meeting if 5% of the voting members sign and date a petition to the Secretary with the purpose or purposes of the meeting.
                  Currently, there are two regularly scheduled meetings for members. The Annual member meeting in March and the Semi-Annual meeting in October. Members are notified of exact dates at least 7 days in advance.
                </p>
              </div>
              <div class="6u$ 12u$(small)">
                <h3 class="top2">where do I sign up?</h3>
                <p>We appreciate your dedication to PostgreSQL and furthering our mission!</p>

								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Membership Type</th>
												<th>Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="">Professional Member</a></td>
												<td>$25</td>
											</tr>
											<tr>
												<td><a href="">Student Member</a></td>
												<td>$10</td>
											</tr>
										</tbody>
									</table>
								</div>

                <p>
                  If you still feel like contributing to our mission, but don't want any of the responsibility, we will <a href="">happily take a donation</a> and we offer several methods of doing so. This ranges from
                  donations of money (either through mail, wire transfer, or PayPal) or even services. Thank you for your participation and consideration of our mission!<br><br>
                  Any further questions or concerns can be directed to our secretary using the email secretary@postgresql.us.
                </p>
              </div>

            </div>
  				</div>
  			</section>
{%endblock%}                                                                                                                                                                                                             
