{%extends "base.html" %}
{%load markup%}         
{%block title%}Contact Us{%endblock%}
{%block layoutblock%}
  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="inner">
            <header class="align-center">
              <h2>contact us</h2>
            </header>
            <div class="row">
              <div class="4u 12u$(medium)">
                <h3 class="top2">board of directors</h3>
                <ul class="alt">
                  <li>Michael Brewer - Position</li>
                  <li>Joshua D. Drake - Position</li>
                  <li>Jonathan S. Katz - Position</li>
                  <li>Jim Mlodgeski - Position</li>
                  <li>Kris Pennella - Position</li>
                  <li>Robert Treat - Position</li>
                  <li>Mark Wong - Position</li>
                </ul>
              </div>
              <div class="4u 12u$(medium)">
                <h3 class="top1">address</h3>
                <p>We accept and expect all kinds of mail sent to this publically viewable address! Or do we? We should probably specify that!</p>
                <div class="box">
                  <p>
                    United States PostgreSQL Association<br>
                    9220 SW Barbur Blvd<br>
                    Ste 119-230<br>
                    Portland‎ OR‎ 97219
                  </p>
                </div>
              </div>
              <div class="4u$ 12u$(medium)">
                <h3 class="top3">legal</h3>
                <p>For legal inquiries, please contact:</p>
                <div class="box">
                  <p>
                    Steward Harris<br>
                    Davis Wright Tremaine LLP<br>
                    1300 SW Fifth Avenue<br>
                    Suite 2300<br>
                    Portland, OR 97201<br>
                    Tel: (503) 778-5428<br>
                    Fax: (503) 276-5813<br>
                  </p>
                </div>
              </div>
              <!-- Break -->
              <div class="6u 12u$(small)">
                <h3 class="top2">social media</h3>
                <p>
                  Because we like to be a modern organization and be technologically relevant, we absolutely have several social media outlets as well as an email address which we would love to use to connect with you.<br><br>
                  <i class="fa fa-envelope" aria-hidden="true"></i> email: pgus@pgus.org<br>
                  <i class="fa fa-facebook-official" aria-hidden="true"></i> facebook: pgushandle<br>
                  <i class="fa fa-twitter-square" aria-hidden="true"></i> twitter: pgushandle<br>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin: pgushandle
                </p>
              </div>
              <div class="6u$ 12u$(small)">
                <h3 class="top1">contact us</h3>

								<form method="post" action="#">
									<div class="row uniform">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" placeholder="Name" />
										</div>
										<div class="6u$ 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="Email" />
										</div>
										<!-- Break -->
										<div class="12u$">
											<div class="select-wrapper">
												<select name="category" id="category">
													<option value="">- Category -</option>
													<option value="1">Website Bug</option>
													<option value="1">General Inquiries</option>
												</select>
											</div>
										</div>
										<!-- Break -->
										<div class="6u 12u$(small)">
											<input type="checkbox" id="copy" name="copy">
											<label for="copy">Email me a copy of this message</label>
										</div>
										<div class="6u$ 12u$(small)">
											<input type="checkbox" id="human" name="human" checked>
											<label for="human">I am a human and not a robot</label>
										</div>
										<!-- Break -->
										<div class="12u$">
											<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
										</div>
										<!-- Break -->
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>

              </div>
            </div>
  				</div>
  			</section>
{%endblock%}                                                                                                                                                                                                             
