{%extends "base.html" %}
{%load markup%}
{%block title%}Corporate{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="inner">
            <header class="align-center">
              <h2>corporate</h2>
            </header>
            <div class="row">
              <div class="4u 12u$(medium)">
                <h3 class="top3">board of directors</h3>
                <ul class="alt">
                  <li>Mark Wong - President & Treasurer</li>
                  <li>Michael Brewer - Secretary</li>
                  <li>Jonathan S. Katz - Director</li>
                  <li>Jim Mlodgeski - Director</li>
                  <li>Stephen Frost - Director</li>
                  <li>Joe Conway - Director</li>
                  <li>Debra Cerda - Director</li>
                </ul>
              </div>
              <div class="4u 12u$(medium)">
                <h3 class="top1">resolutions</h3>
                <p>
                  Please email the Secretary (<a href="secretary@postgresql.us">secretary@postgresql.us</a>) for a complete list of resolutions until we finish out site migration.
                </p>
              </div>
              <div class="4u$ 12u$(medium)">
                <h3 class="top2">bylaws</h3>
                <p>Please <a href="">click here</a> for our most recent version of our by-laws.</p>
                <div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Attachment</th>
												<th>Size</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="">Final revision with filed stamp</a></td>
                        <td>189.25 KB</td>
											</tr>
											<tr>
												<td><a href="">PgUS bylaws - final revision.pdf</a></td>
                        <td>43.54 KB</td>
											</tr>
                      <tr>
                        <td><a href="">bylaws.pdf</a></td>
                        <td>134.58 KB</td>
                      </tr>
										</tbody>
									</table>
								</div>
              </div>
              <!-- Break -->
              <div class="4u 12u$(medium)">
                <h3 class="top1">affiliates</h3>
                <p>We have so many affiliates that they're posted all over our site because we want you to know exactly who they are! Please go check out their websites below:<br><br>
                <ul class="alt">
                  <li><a href="">Minas Ithil</a></li>
                  <li><a href="">Dol Guldur</a></li>
                  <li><a href="">Isengard</a></li>
                </ul>
                </p>
              </div>
              <div class="4u 12u$(medium)">
                <h3 class="top2">meetings</h3>
                <p>All of our approved meetings are definitely publically viewable. Because they're supposed to be! In fact, we also include our agenda, list of present board members, and president's report for every meeting. View the full list of our meetings below.<br>
                  <ul class="alt">
                    <li><a href="">Recent Meetings</a></li>
                    <li><a href="">View by Year</a></li>
                  </ul>
                </p>
              </div>
              <div class="4u$ 12u$(medium)">
                <h3 class="top3">board election</h3>
                <p>It is no longer possible to vote who wins the Hunger Games, but you can view the results below. Who dies? You decided!<br><br>
                  <ul class="alt">
                    <li><a href="">Board Election 2016</a></li>
                    <li><a href="">Board Election 2015</a></li>
                    <li><a href="">View Previous Years</a></li>
                  </ul>
                </p>
              </div>
            </div>
            <!-- Break -->
            <h3 class="top2">financial statements</h3>
            <p>In this section you will find the most recent of our regular updates of the United States PostgreSQL Association finances as prepared by our CPA, Alten & Sakai. For the complete list, please visit <a href="">this page</a>.</p>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Attachment</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="">United States ProstgreSQL Assoc 2015 Public Inspection Copy.pdf</a></td>
                    <td>2.19 MB</td>
                  </tr>
                  <tr>
                    <td><a href="">Q1 2014</a></td>
                    <td>127.41 KB</td>
                  </tr>
                  <tr>
                    <td><a href="">Q4 2013</a></td>
                    <td>154.99 KB</td>
                  </tr>
                  <tr>
                    <td><a href="">Q3 2013</a></td>
                    <td>127.41 KB</td>
                  </tr>
                  <tr>
                    <td><a href="">Q1-Q2 2013</a></td>
                    <td>154.99 KB</td>
                  </tr>
                </tbody>
              </table>
            </div>
  				</div>
  			</section>
{%endblock%}
