{%extends "base.html" %}
{%load markup%}
{%block title%}Financial Statements{%endblock%}
{%block layoutblock%}

<!-- Three -->
  <section id="three" class="wrapper">
    <div class="inner">
      <header class="align-center">
        <h2>Financial Statements</h2>
      </header>
      <div>
        <h3 class="top3">monthly financial reports</h3>
        <p>On this page you will find the regular updates of the United States PostgreSQL Association
          finances as prepared by our CPA, <a href="http://www.altensakai.com/">Alten & Sakai.</a></p>
          <div class="table-wrapper">
            <table class="alt">
              <thead>
                <tr>
                  <th>Attachment</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="../../media/files/financial/PGUS_2015_IRS_Determination_Letter.pdf">PGUS_2015_IRS_Determination_Letter.pdf</a></td>
                  <td>2.19 MB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1_2014">Q1 2014</a></td>
                  <td>127.41 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q4_2013">Q4 2013</a></td>
                  <td>154.99 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q3_2013">Q3_2013</a></td>
                  <td>143.6 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1-Q2_2013">Q1-Q2_2013</a></td>
                  <td>127.21 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">Q4 2012</a></td>
                  <td>95.51 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">Q3 2012</a></td>
                  <td>83.54 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">Q2 2012</a></td>
                  <td>83.74 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">Q1 2012</a></td>
                  <td>86.84 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">December 2011</a></td>
                  <td>125.4 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">November 2011</a></td>
                  <td>123.79 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">October 2011</a></td>
                  <td>124.98 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">September 2011</a></td>
                  <td>123.82 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">August 2011</a></td>
                  <td>124.43 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">July 2011</a></td>
                  <td>161.18 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">June 2011</a></td>
                  <td>124.18 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">May 2011</a></td>
                  <td>120.61 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">April 2011</a></td>
                  <td>113.5 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">March 2011</a></td>
                  <td>111.25 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">February 2011</a></td>
                  <td>111.66 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">January 2011</a></td>
                  <td>108.19 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">December 2010</a></td>
                  <td>117.97 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">November 2010</a></td>
                  <td>108.92 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">August 2010</a></td>
                  <td>106.47 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">May 2010</a></td>
                  <td>102.63 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">June 2010</a></td>
                  <td>105.62 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">April 2010</a></td>
                  <td>103.31 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">March 2010	</a></td>
                  <td>104.05 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">February 2010</a></td>
                  <td>100.66 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">January 2010</a></td>
                  <td>95.9 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">December 2009</a></td>
                  <td>145.4 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">November 2009</a></td>
                  <td>108.92 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">October 2009</a></td>
                  <td>316.66 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">September 2009</a></td>
                  <td>124.19 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">August 2009</a></td>
                  <td>320.04 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">July 2009</a></td>
                  <td>123.57 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">June 2009</a></td>
                  <td>298.52 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">May 2009</a></td>
                  <td>311.63 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">April 2009</a></td>
                  <td>202.58 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">January 09 through March 2009</a></td>
                  <td>197.06 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/">August 08 through December 2008</a></td>
                  <td>210.87 KB</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </section>

{%endblock%}
