{%extends "base.html" %}
{%load markup%}
{%block title%}Financial Statements{%endblock%}
{%block layoutblock%}

<!-- Three -->
  <section id="three" class="wrapper">
    <div class="inner">
      <header class="align-center">
        <h2>Financial Statements</h2>
      </header>
      <div>
        <h3 class="top3">monthly financial reports</h3>
        <p>On this page you will find the regular updates of the United States PostgreSQL Association
          finances as prepared by our CPA, <a href="http://www.altensakai.com/">Alten & Sakai.</a></p>
          <div class="table-wrapper">
            <table class="alt">
              <thead>
                <tr>
                  <th>Attachment</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="../../media/files/financial/PGUS_2015_IRS_Determination_Letter.pdf">PGUS_2015_IRS_Determination_Letter.pdf</a></td>
                  <td>2 MB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1_2014">Q1 2014</a></td>
                  <td>127 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q4_2013">Q4 2013</a></td>
                  <td>154 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q3_2013">Q3_2013</a></td>
                  <td>143 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1-Q2_2013">Q1-Q2_2013</a></td>
                  <td>127 KB</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </section>

{%endblock%}
