{%extends "base.html" %}
{%load markup%}
{%block title%}Financial Statements{%endblock%}
{%block layoutblock%}

<!-- Three -->
  <section id="three" class="wrapper">
    <div class="inner">
      <header class="align-center">
        <h2>Financial Statements</h2>
      </header>
      <div>
        <h3 class="top3">monthly financial reports</h3>
        <p>On this page you will find the regular updates of the United States PostgreSQL Association
          finances as prepared by our CPA, <a href="http://www.altensakai.com/">Alten & Sakai.</a></p>
          <div class="table-wrapper">
            <table class="alt">
              <thead>
                <tr>
                  <th>Attachment</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="../../media/files/financial/PGUS_2015_IRS_Determination_Letter.pdf">PGUS_2015_IRS_Determination_Letter.pdf</a></td>
                  <td>2.19 MB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1_2014">Q1 2014</a></td>
                  <td>127.41 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q4_2013">Q4 2013</a></td>
                  <td>154.99 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q3_2013">Q3_2013</a></td>
                  <td>143.6 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1-Q2_2013">Q1-Q2_2013</a></td>
                  <td>127.21 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q4_2012.pdf">Q4 2012</a></td>
                  <td>95.51 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q3_2012.pdf">Q3 2012</a></td>
                  <td>83.54 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q2_2012.pdf">Q2 2012</a></td>
                  <td>83.74 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Q1_2012.pdf">Q1 2012</a></td>
                  <td>86.84 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Dec_2011.pdf">December 2011</a></td>
                  <td>125.4 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Nov_2011.pdf">November 2011</a></td>
                  <td>123.79 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Oct_2011.pdf">October 2011</a></td>
                  <td>124.98 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Sep_2011.pdf">September 2011</a></td>
                  <td>123.82 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Aug_2011.pdf">August 2011</a></td>
                  <td>124.43 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jul_2011.pdf">July 2011</a></td>
                  <td>161.18 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jun_2011.pdf">June 2011</a></td>
                  <td>124.18 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/May_2011.pdf">May 2011</a></td>
                  <td>120.61 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Apr_2011.pdf">April 2011</a></td>
                  <td>113.5 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Mar_2011.pdf">March 2011</a></td>
                  <td>111.25 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Feb_2011.pdf">February 2011</a></td>
                  <td>111.66 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jan_2011.pdf">January 2011</a></td>
                  <td>108.19 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Dec_2010.pdf">December 2010</a></td>
                  <td>117.97 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Nov_2010.pdf">November 2010</a></td>
                  <td>108.92 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Aug_2010.pdf">August 2010</a></td>
                  <td>106.47 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jun_2010.pdf">June 2010</a></td>
                  <td>105.62 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/May_2010.pdf">May 2010</a></td>
                  <td>102.63 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Apr_2010.pdf">April 2010</a></td>
                  <td>103.31 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Mar_2010.pdf">March 2010	</a></td>
                  <td>104.05 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Feb_2010.pdf">February 2010</a></td>
                  <td>100.66 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jan_2010.pdf">January 2010</a></td>
                  <td>95.9 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Dec_2009.pdf">December 2009</a></td>
                  <td>145.4 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Nov_2009.pdf">November 2009</a></td>
                  <td>108.92 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Oct_2009.pdf">October 2009</a></td>
                  <td>316.66 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Sep_2009.pdf">September 2009</a></td>
                  <td>124.19 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Aug_2009.pdf">August 2009</a></td>
                  <td>320.04 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jul_2009.pdf">July 2009</a></td>
                  <td>123.57 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jun_2009.pdf">June 2009</a></td>
                  <td>298.52 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/May_2009.pdf">May 2009</a></td>
                  <td>311.63 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Apr_2009.pdf">April 2009</a></td>
                  <td>202.58 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Jan-Mar_2009.pdf">January 09 through March 2009</a></td>
                  <td>197.06 KB</td>
                </tr>
                <tr>
                  <td><a href="../../media/files/financial/Aug-Dec_2008.pdf">August 08 through December 2008</a></td>
                  <td>210.87 KB</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </section>

{%endblock%}
